<div class='mt-3 d-flex align-items-center flex-column'>
  <%if @recipes.empty?%>
      <div class="card mb-3 border-danger" style="width: 540px;">
        <div class="card-header bg-danger text-white">There is no reicpes</div>
        <div class="card-body">
          <h5 class="card-title text-danger">Please first submit a recipe then come back to this page thanks.</h5>
      </div>
      </div>
  <%else%>
  <%= render @recipes %>
  <%end%>

  <%= link_to "Create a new Recipe", new_recipe_path %>
</div>