<%if @recipes.empty?%>
      <div class="card mb-3 border-danger" style="width: 540px;">
        <div class="card-header bg-danger text-white">Empty</div>
        <div class="card-body">
          <h5 class="card-title text-danger">You have no recipe yet, Please create one</h5>
      </div>
      </div>
  <%else%>
  <%= render @recipes %>
  <%end%>

  <%= link_to "Create a new Recipe", new_recipe_path, class:"mt-5" %>
